
<form [formGroup]="form" class="dialog-box">
    
    <div class="form-group">
        <label for="oldpassword">Old Password</label>
        <input 
            formControlName="oldpassword"
            id="oldpassword" 
            type="password" 
            class="form-control">
        <div *ngIf="oldpassword?.touched && oldpassword?.invalid" class="alert alert-danger">
            <div *ngIf="oldpassword?.errors?.['required']"> Old Password is required.</div>
            <div *ngIf="oldpassword?.errors?.['minlength']"> Old Password should be minimum 3 characters.</div>
        </div>    
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            id="password" 
            type="password" 
            class="form-control">
            <div *ngIf="newpassword?.touched && newpassword?.invalid" class="alert alert-danger">Password is required.</div>    
    </div>
    <div class="form-group">
        <label for="confirmpassword">Confirm Password</label>
        <input 
            formControlName="confirmpassword"
            id="confirmpassword" 
            type="password" 
            class="form-control">
            <div *ngIf="confirmpassword?.touched && confirmpassword?.invalid" class="alert alert-danger">Confirm password is required.</div>    
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>

</form>